[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
openslide-python = "*"
Pillow = "*"
psycopg2 = "*"
cv2 = "*"
opencv-python = "*"

[requires]
python_version = "3.7"
